.container-store {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.store-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.store-images img {
    width: 200px;
}